:root {
    --background-color: white;
}

.container {
    display: inline-block;
    position: relative;
}

.tooltip {
    text-align: center;
    display: inline-block;
    position: absolute;
    padding: 5px 10px;
    width: 120px;
    border-radius: 6px;
    z-index: 1;
}

.tooltip-top {
    /* bottom: 150%; */
    bottom: 100%;
    margin-bottom: 5px;
    left: 50%;
    margin-left: -60px;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background-color) transparent transparent transparent;
}

.tooltip-bottom {
    /* top: calc(100% + 5px); */
    top: 100%;
    margin-top: 5px;
    left: 50%;
    margin-left: -60px;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--background-color) transparent;
}

.tooltip-right {
    /* left: 110%; */
    left: 100%;
    margin-left: 5px;
    /* bottom: 25%; */
    top: 0;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--background-color) transparent transparent;
}

.tooltip-left {
    /* top: 5px; */
    /* right: 110%; */
    top: 0;
    right: 100%;
    margin-right: 5px;
}

.tooltip-left::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--background-color);
}
